annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
cffi==2.0.0
click==8.3.0
cloudpickle==3.1.1
demucs==4.0.1
dora_search==0.1.12
einops==0.8.1
fastapi==0.119.0
filelock==3.20.0
fsspec==2025.9.0
h11==0.16.0
idna==3.11
Jinja2==3.1.6
julius==0.2.7
lameenc==1.8.1
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
omegaconf==2.3.0
openunmix==1.3.0
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
python-multipart==0.0.20
PyYAML==6.0.3
retrying==1.4.2
setuptools==80.9.0
sniffio==1.3.1
soundfile==0.13.1
starlette==0.48.0
submitit==1.5.3
sympy==1.14.0
torch==2.9.0
torchaudio==2.9.0
torchcodec==0.8.0
tqdm==4.67.1
treetable==0.2.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.37.0
